('music', 'NN')
('let', 'NN')
("'s", 'POS')
('take', 'VB')
('look', 'NN')
('at', 'IN')
('the', 'DT')
('data', 'NN')
('management', 'NN')
('policies', 'NNS')
('from', 'IN')
('few', 'JJ')
('of', 'IN')
('the', 'DT')
('major', 'JJ')
('us', 'PRP')
('funding', 'VBG')
('agencies', 'NNS')
('the', 'DT')
('national', 'JJ')
('science', 'NN')
('foundation', 'NN')
('data', 'NNS')
('management', 'NN')
('plan', 'NN')
('policy', 'NN')
('requires', 'VBZ')
('that', 'IN')
('proposals', 'NNS')
('include', 'VBP')
('supplementary', 'JJ')
('data', 'NN')
('management', 'NN')
('plan', 'NN')
('document', 'NN')
('of', 'IN')
('no', 'DT')
('more', 'JJR')
('than', 'IN')
('two', 'CD')
('pages', 'NNS')
('that', 'WDT')
('includes', 'VBZ')
('information', 'NN')
('on', 'IN')
('five', 'CD')
('key', 'JJ')
('aspects', 'NNS')
('of', 'IN')
('data', 'NNS')
('management', 'NN')
('the', 'DT')
('types', 'NNS')
('of', 'IN')
('data', 'NNS')
('to', 'TO')
('be', 'VB')
('produced', 'VBN')
('for', 'IN')
('the', 'DT')
('project', 'NN')
('data', 'NNS')
('and', 'CC')
('metadata', 'NNS')
('format', 'NNS')
('and', 'CC')
('content', 'NN')
('policies', 'NNS')
('for', 'IN')
('access', 'NN')
('and', 'CC')
('sharing', 'NN')
('including', 'VBG')
('security', 'NN')
('provisions', 'NNS')
('policies', 'NNS')
('and', 'CC')
('provisions', 'NNS')
('for', 'IN')
('dissemination', 'NN')
('and', 'CC')
('reuse', 'NN')
('and', 'CC')
('plans', 'NNS')
('for', 'IN')
('archiving', 'VBG')
('preserving', 'NN')
('and', 'CC')
('providing', 'VBG')
('access', 'NN')
('to', 'TO')
('the', 'DT')
('data', 'NN')
('the', 'DT')
('national', 'JJ')
('institutes', 'NN')
('of', 'IN')
('health', 'NN')
('requires', 'VBZ')
('applicants', 'NNS')
('seeking', 'VBG')
('$', '$')
('500,000', 'CD')
('or', 'CC')
('more', 'JJR')
('in', 'IN')
('direct', 'JJ')
('costs', 'NNS')
('to', 'TO')
('provide', 'VB')
('description', 'NN')
('of', 'IN')
('how', 'WRB')
('project', 'JJ')
('data', 'NNS')
('will', 'MD')
('be', 'VB')
('made', 'VBN')
('available', 'JJ')
('in', 'IN')
('data', 'NN')
('sharing', 'NN')
('plan', 'NN')
('this', 'DT')
('document', 'NN')
('should', 'MD')
('describe', 'VB')
('final', 'JJ')
('dataset', 'NN')
('formats', 'NNS')
('documentation', 'NN')
('analytic', 'JJ')
('tools', 'NNS')
('necessary', 'JJ')
('to', 'TO')
('use', 'VB')
('the', 'DT')
('data', 'NNS')
('data', 'NNS')
('sharing', 'VBG')
('agreements', 'NNS')
('and', 'CC')
('how', 'WRB')
('and', 'CC')
('when', 'WRB')
('the', 'DT')
('data', 'NN')
('will', 'MD')
('be', 'VB')
('made', 'VBN')
('accessible', 'JJ')
('to', 'TO')
('others', 'NNS')
('the', 'DT')
('national', 'JJ')
('endowment', 'NN')
('for', 'IN')
('the', 'DT')
('humanities', 'NNS')
('summarizes', 'VBZ')
('the', 'DT')
('content', 'NN')
('of', 'IN')
('data', 'NNS')
('management', 'NN')
('plans', 'NNS')
('they', 'PRP')
('require', 'VBP')
('with', 'IN')
('two', 'CD')
('questions', 'NNS')
('that', 'WDT')
('should', 'MD')
('be', 'VB')
('addressed', 'VBN')
('what', 'WP')
('data', 'NNS')
('are', 'VBP')
('generated', 'VBN')
('by', 'IN')
('your', 'PRP$')
('research', 'NN')
('?', '.')
('and', 'CC')
('what', 'WP')
('is', 'VBZ')
('your', 'PRP$')
('plan', 'NN')
('for', 'IN')
('managing', 'VBG')
('these', 'DT')
('data', 'NNS')
('?', '.')
('to', 'TO')
('answer', 'VB')
('these', 'DT')
('questions', 'NNS')
('neh', 'JJ')
('requires', 'VBZ')
('that', 'IN')
('the', 'DT')
('dmp', 'NN')
('describe', 'VBZ')
('the', 'DT')
('data', 'NN')
('to', 'TO')
('be', 'VB')
('produced', 'VBN')
('how', 'WRB')
('the', 'DT')
('data', 'NN')
('will', 'MD')
('be', 'VB')
('managed', 'VBN')
('and', 'CC')
('maintained', 'VBN')
('during', 'IN')
('the', 'DT')
('active', 'JJ')
('phase', 'NN')
('of', 'IN')
('the', 'DT')
('project', 'NN')
('any', 'DT')
('factors', 'NNS')
('that', 'WDT')
('might', 'MD')
('impact', 'VB')
('the', 'DT')
('researcher', 'NN')
("'s", 'POS')
('ability', 'NN')
('to', 'TO')
('manage', 'VB')
('the', 'DT')
('data', 'NNS')
('types', 'NNS')
('of', 'IN')
('information', 'NN')
('that', 'WDT')
('need', 'VBP')
('to', 'TO')
('be', 'VB')
('managed', 'VBN')
('and', 'CC')
('maintained', 'VBN')
('alongside', 'IN')
('the', 'DT')
('data', 'NNS')
('how', 'WRB')
('data', 'NNS')
('will', 'MD')
('be', 'VB')
('shared', 'VBN')
('in', 'IN')
('timely', 'JJ')
('manner', 'NN')
('and', 'CC')
('the', 'DT')
('facilities', 'NNS')
('used', 'VBN')
('to', 'TO')
('preserve', 'VB')
('the', 'DT')
('data', 'NN')
('music', 'NN')
