music 
lets take a look data 
management policies a few 
major us funding agencies 
national science foundation 
data management plan 
policy requires that proposals 
include a supplementary 
data management plan document 
two pages 
that includes information five 
key aspects data management 
types data to produced 
project, data metadata format 
content, policies access 
sharing, including security provisions, 
policies provisions 
dissemination reuse 
plans archiving, preserving, 
providing access to data 
national institutes health 
requires applicants seeking , 
in direct costs to 
provide a description 
project data will made 
available in a data sharing plan 
this document describe final 
dataset formats, documentation, 
analytic tools necessary to use data, 
data sharing agreements, 
data will 
made accessible to others 
national endowment humanities 
summarizes content data 
management plans require two 
questions that addressed 
data generated research 
is plan 
managing data 
to answer questions, 
neh requires that dmp describe 
data to produced, 
data will managed 
maintained active 
phase project, 
factors that might impact 
researchers ability to manage data, 
types information that 
need to managed 
maintained alongside data, data 
will shared in a timely manner, 
facilities used 
to preserve data 
music 
