[
music
]
let
's
take
a
look
at
the
data
management
policies
from
a
few
of
the
major
us
funding
agencies
.
the
national
science
foundation
data
management
plan
policy
requires
that
proposals
include
a
supplementary
data
management
plan
document
of
no
more
than
two
pages
.
that
includes
information
on
five
key
aspects
of
data
management
.
the
types
of
data
to
be
produced
for
the
project
,
data
and
metadata
format
and
content
,
policies
for
access
and
sharing
,
including
security
provisions
,
policies
and
provisions
for
dissemination
and
reuse
.
and
plans
for
archiving
,
preserving
,
and
providing
access
to
the
data
.
the
national
institutes
of
health
requires
applicants
seeking
$
500,000
or
more
in
direct
costs
to
provide
a
description
of
how
project
data
will
be
made
available
in
a
data
sharing
plan
.
this
document
should
describe
final
dataset
formats
,
documentation
,
analytic
tools
necessary
to
use
the
data
,
data
sharing
agreements
,
and
how
and
when
the
data
will
be
made
accessible
to
others
.
the
national
endowment
for
the
humanities
summarizes
the
content
of
data
management
plans
they
require
with
two
questions
that
should
be
addressed
.
what
data
are
generated
by
your
research
?
and
what
is
your
plan
for
managing
these
data
?
to
answer
these
questions
,
neh
requires
that
the
dmp
describe
the
data
to
be
produced
,
how
the
data
will
be
managed
and
maintained
during
the
active
phase
of
the
project
,
any
factors
that
might
impact
the
researcher
's
ability
to
manage
the
data
,
types
of
information
that
need
to
be
managed
and
maintained
alongside
the
data
,
how
data
will
be
shared
in
a
timely
manner
,
and
the
facilities
used
to
preserve
the
data
.
[
music
]
